<header>
			<div class="I-header">
				<div class="wrapper">
					<div class="header-wrapper">
						<div class="header-logo">
							<img src="images/bg-log.png">
							<div class="logo align-justify-center">
								<img src="images/2x3.png">
							</div>
						</div>
						<div class="header-search align-justify-center lp fp">
							<div class="search-wrapper">
								{{!-- <input type="" name="" placeholder="Tìm kiếm khóa học"> --}}
								<a href="" class="align-justify-center"><i class="fas fa-search"></i></a>
							</div>
						</div>
						<div class="header-action align-justify-center">
							{{!-- <a href="" class="btns m-r-20 lp">Đăng nhập</a>
							<a href="" class="btns btns-primary action-register lp">Đăng kí</a>
							<div href="" class="btns sp open-menu"><i class="fas fa-bars"></i></div> --}}
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="I-login">
				<div class="wrapper">
					<div class="login-wrapper">
						<h3 class="m-b-20">Mật khẩu đã được đổi thành công</h3>
						<h3 class="m-b-20">Hãy đăng nhập vào tài khoản của bạn để sử dụng</h3>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
		    <div class="I-footer">
		        <div class="footer_contact">
		            <div class="wrapper">
		                <div class="row">
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <a href="" class="full_logo">
		                            <img src="images/2x3.png">
		                        </a>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Về chúng tôi</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span>Đâu đó ở Hà nội</span>
		                                <span><i class="fas fa-phone"></i> <a href="tel:0" class="telephone">(+84) 123456789</a></span>
		                                <span><i class="fas fa-envelope"></i> <a href="mailto:" class="time">abc@gmail.com</a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Danh mục</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span><a href="">Tiểu học</a></span>
		                                <span><a href="">Trung học cơ sở</a></span>
		                                <span><a href="">Trung học phổ thông</a></span>
		                                <span><a href="">Đại học</a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Theo dõi chúng tôi:</h5>
		                            </div>
		                            <div class="contact_content">
		                                <div class="social_wrapper">
		                                    <a class="social-item" href="<?php echo $info->fb ?>"><i class="fab fa-facebook-f"></i></a>
		                                    <a class="social-item" href="<?php echo $info->linkin ?>"><i class="fab fa-linkedin-in"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="copyright">
		            <div class="wrapper">
		                <div class="pull-left">
		                    Copyright © 2021. All rights reserved. 
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
		<div class="menu sp">
			<div class="menu-wrapper">
				<ul class="main_navigation">
					<li><a href="">Giới thiệu</a></li>
					<li><a href="">Giáo viên</a></li>
					<li><a href="">Danh mục</a></li>
					<li class="sub_navigation">
						<a href="">Thư viện</a>
						<div class="sub_nav_wrapper">
							<ul>
								<li><a href="">Sách A</a></li>
								<li><a href="">Sách B</a></li>
								<li><a href="">Sách C</a></li>
								<li><a href="">Sách D</a></li>
								<li><a href="">Sách R</a></li>
								<li><a href="">Sách T</a></li>
							</ul>
						</div>
						<div class="open_sub">
							<i class="fas fa-sort-down"></i>
						</div>
					</li>
					<li><a href="">Phòng thi</a></li>
					<li><a href="" class="login-button">Đăng nhập</a></li>
					<li><a href="" class="login-button">Đăng kí</a></li>
				</ul>
			</div>
		</div>
		<script src="https://kit.fontawesome.com/d8162761f2.js"></script>
		<script type="text/javascript" src="js/bootstrap3.js"></script>
		<script type="text/javascript" src="js/owl.carousel.js"></script>
		<script type="text/javascript" src="js/window.js"></script>