        <header>
			<div class="I-header">
				<div class="wrapper">
					<div class="header-wrapper">
						<div class="header-logo">
							<img src="images/bg-log.png">
							<div class="logo align-justify-center">
								<img src="images/2x3.png">
							</div>
						</div>
						<div class="header-search align-justify-center lp fp">
							<div class="search-wrapper">
								<input type="" name="" placeholder="Tìm kiếm khóa học">
								<a href="" class="align-justify-center"><i class="fas fa-search"></i></a>
							</div>
						</div>
						<div class="header-action align-justify-center">
							<a href="/user/login" class="btns m-r-20 lp">Đăng nhập</a>
							<a href="/user/register" class="btns btns-primary action-register lp">Đăng kí</a>
							<div href="" class="btns sp open-menu"><i class="fas fa-bars"></i></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="I-category lp">
				<div class="wrapper">
					<div class="category-wrapper">
						<div class="category-item">
							<a href="">Giới thiệu</a>
						</div>
						<div class="category-item">
							<a href="">Giáo viên</a>
							
						</div>
						<div class="category-item category-sub">
							<div>Thư viện<span class="m-l-5"><i class="fas fa-caret-down"></i></span></div>
							<div class="category-sub-wrapper">
								<a href="" class="m-b-10">Sách A</a>
								<a href="" class="m-b-10">Đánh giá năng lực</a>
								<a href="" class="m-b-10">Sách A</a>
								<a href="" class="m-b-10">Đánh giá năng lực</a>
								<a href="" class="m-b-10">Sách A</a>
								<a href="" class="m-b-10">Đánh giá năng lực</a>
							</div>
						</div>
						<div class="category-item">
							<a href="">Phòng thi</a>
							
						</div>
					</div>
				</div>
			</div>
			<div class="I-review">
				<div class="review-head">
					<div class="wrapper">
						
					</div>
				</div>
				<div class="review-main">
					<div class="wrapper">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="course-wrapper">
									<div class="course-item">
										<a href=""><span class="icon"><i class="fas fa-bars"></i></span>Các khóa học</a>
									</div>
									<div class="course-item">
										<a href=""><span class="icon"><i class="fas fa-graduation-cap"></i></span>Ôn thi Đại học</a>
										<div class="course-item-list lp">
											<div class="course-main">
												<div class="course-main-head">
													<div class="tab-control is-active" tab-toggle="tab1">
														Tab 1
													</div>
													<div class="tab-control" tab-toggle="tab2">
														Tab 2
													</div>
													<div class="tab-control" tab-toggle="tab3">
														Tab 3
													</div>
												</div>
												<div class="course-main-body">
													<div class="tab-body is-active" tab-toggle-id="tab1">
														<div class="course-group">
															<div class="course-group-header">
																Course Group 01
															</div>
															<div class="course-group-body">
																<div class="course-component">
																	<div class="course-component-header">
																		Course Component 01
																	</div>
																	<div class="course-component-body">
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
																	</div>
																</div>
																<div class="course-component">
																	<div class="course-component-header">
																		Course Component 01
																	</div>
																	<div class="course-component-body">
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
																	</div>
																</div>
																<div class="course-component">
																	<div class="course-component-header">
																		Course Component 01
																	</div>
																	<div class="course-component-body">
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
																	</div>
																</div>
															</div>
														</div>
														<div class="course-group">
															<div class="course-group-header">
																Course Group 01
															</div>
															<div class="course-group-body">
																<div class="course-component">
																	<div class="course-component-header">
																		Course Component 01
																	</div>
																	<div class="course-component-body">
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
																	</div>
																</div>
																<div class="course-component">
																	<div class="course-component-header">
																		Course Component 01
																	</div>
																	<div class="course-component-body">
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
																	</div>
																</div>
																<div class="course-component">
																	<div class="course-component-header">
																		Course Component 01
																	</div>
																	<div class="course-component-body">
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																		<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-body" tab-toggle-id="tab2">
														<div class="course-component">
															<div class="course-component-header">
																Course Component 01
															</div>
															<div class="course-component-body">
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
															</div>
														</div>
														<div class="course-component">
															<div class="course-component-header">
																Course Component 01
															</div>
															<div class="course-component-body">
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
															</div>
														</div>
														<div class="course-component">
															<div class="course-component-header">
																Course Component 01
															</div>
															<div class="course-component-body">
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
															</div>
														</div>
													</div>
													<div class="tab-body" tab-toggle-id="tab3">
														<div class="course-component">
															<div class="course-component-header">
																Course Component 01
															</div>
															<div class="course-component-body">
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
															</div>
														</div>
														<div class="course-component">
															<div class="course-component-header">
																Course Component 01
															</div>
															<div class="course-component-body">
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 1</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 2</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 3</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 4</a>
																<a href="" class="course-main-item"><span class="icon"><i class="fas fa-graduation-cap"></i></span>Course 5</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="course-ads">
												<a href=""><img src="images/250x400.png"></a>
											</div>
										</div>
									</div>
									<div class="course-item">
										<a href=""><span class="icon"><i class="fas fa-graduation-cap"></i></span>Khóa học bổ trợ</a>
									</div>
									<div class="course-item">
										<a href=""><span class="icon"><i class="fas fa-graduation-cap"></i></span>Lớp 10 </a>
									</div>
									<div class="course-item">
										<a href=""><span class="icon"><i class="fas fa-graduation-cap"></i></span>Lớp 11</a>
									</div>
									<div class="course-item">
										<a href=""><span class="icon"><i class="fas fa-graduation-cap"></i></span>Bồi dưỡng học sinh giỏi</a>
									</div>
									<div class="course-item">
										<a href=""><span class="icon"><i class="fas fa-graduation-cap"></i></span>Ôn luyện cấp tốc thi ĐHBK Hà Nội</a>
									</div>
									<div class="course-item">
										<a href=""><span class="icon"><i class="fas fa-graduation-cap"></i></span>Ôn luyện cấp tốc thi ĐHQG</a>
									</div>
									
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="review-carousel">
									<div class="owl-carousel owl-theme">
									    <div class="carousel-item active">
									    	<img src="images/585x330.png">
									    </div>
									    <div class="carousel-item">
									    	<img src="images/585x330.png">
									    </div>
									    <div class="carousel-item">
									    	<img src="images/585x330.png">
									    </div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="review-ads">
									<img src="images/350x330.png">
								</div>
							</div>
						</div>
						<div class="review-banner">
							<div class="review-banner-wrapper">
								<div class="review-image">
									<img src="images/sbg.png">
								</div>
								<div class="review-top">
									<div class="banner-item">
										<div class="banner-image">
											<img src="images/member.png">
										</div>
										<div class="banner-title">
											<h2>100,000</h2>
											<p>Học viên</p>
										</div>
									</div>
									<div class="banner-item">
										<div class="banner-image">
											<img src="images/ptt.png">
										</div>
										<div class="banner-title">
											<h2>1 Năm</h2>
											<p>Giáo dục trực tuyến</p>
										</div>
									</div>
									<div class="banner-item">
										<div class="banner-image">
											<img src="images/nt.png">
										</div>
										<div class="banner-title">
											<h2>Số 1 Việt Nam</h2>
											<p>Nền tảng giáo dục</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="I-group">
				<div class="wrapper">
					<div class="group-wrapper">
						<div class="group-header gr-blue">
							Toán 12 - Tổng ôn cơ bản
						</div>
						<div class="group-body">
							<div class="group-image-wrapper">
								<div class="group-image">
									<img src="images/475x290.png">
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<div class="barge red">
										Hot
									</div>
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<div class="barge green">
										New
									</div>
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<div class="barge blue">
										something...
									</div>
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="group-footer">
							
						</div>
					</div>
					<div class="group-wrapper">
						<div class="group-header gr-red">
							Vật Lý 12 - Tổng ôn cơ bản
						</div>
						<div class="group-body">
							<div class="group-image-wrapper">
								<div class="group-image">
									<img src="images/475x290.png">
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<div class="barge red">
										Hot
									</div>
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<div class="barge green">
										New
									</div>
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<div class="barge blue">
										something...
									</div>
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="group-footer">
							
						</div>
					</div>
					<div class="group-wrapper">
						<div class="group-header gr-green">
							Tiếng Anh 12 - Tổng ôn cơ bản
						</div>
						<div class="group-body">
							<div class="group-image-wrapper">
								<div class="group-image">
									<img src="images/475x290.png">
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<div class="barge red">
										Hot
									</div>
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<div class="barge green">
										New
									</div>
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<div class="barge blue">
										something...
									</div>
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="group-item-wrapper">
								<div class="group-item">
									<a href="" class="item-image">
										<img src="images/2x3.png">
									</a>
									<div class="item-content">
										<a href="" class="item-name">
											PEN-M Vật lí
										</a>
										<div class="item-teacher">
											Giáo Viên : <a href="#aasd">Nguyễn Văn A</a>
										</div>
										<div class="item-detail">
											<div class="detail-item">
												<i class="fas fa-play-circle m-r-5 red"></i><span>27</span> Bài giảng
											</div>
											<div class="detail-item">
												<i class="fas fa-question-circle m-r-5 blue"></i></i><span>27</span> Bài luyện tập
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="group-footer">
							
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
		    <div class="I-footer">
		        <div class="footer_contact">
		            <div class="wrapper">
		                <div class="row">
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <a href="" class="full_logo">
		                            <img src="images/2x3.png">
		                        </a>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Về chúng tôi</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span>Đâu đó ở Hà nội</span>
		                                <span><i class="fas fa-phone"></i> <a href="tel:0" class="telephone">(+84) 123456789</a></span>
		                                <span><i class="fas fa-envelope"></i> <a href="mailto:" class="time">abc@gmail.com</a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Danh mục</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span><a href="">Tiểu học</a></span>
		                                <span><a href="">Trung học cơ sở</a></span>
		                                <span><a href="">Trung học phổ thông</a></span>
		                                <span><a href="">Đại học</a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Theo dõi chúng tôi:</h5>
		                            </div>
		                            <div class="contact_content">
		                                <div class="social_wrapper">
		                                    <a class="social-item" href="<?php echo $info->fb ?>"><i class="fab fa-facebook-f"></i></a>
		                                    <a class="social-item" href="<?php echo $info->linkin ?>"><i class="fab fa-linkedin-in"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="copyright">
		            <div class="wrapper">
		                <div class="pull-left">
		                    Copyright © 2021. All rights reserved. 
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
		<div class="menu sp">
			<div class="menu-wrapper">
				<ul class="main_navigation">
					<li><a href="">Giới thiệu</a></li>
					<li><a href="">Giáo viên</a></li>
					<li><a href="">Danh mục</a></li>
					<li class="sub_navigation">
						<a href="">Thư viện</a>
						<div class="sub_nav_wrapper">
							<ul>
								<li><a href="">Sách A</a></li>
								<li><a href="">Sách B</a></li>
								<li><a href="">Sách C</a></li>
								<li><a href="">Sách D</a></li>
								<li><a href="">Sách R</a></li>
								<li><a href="">Sách T</a></li>
							</ul>
						</div>
						<div class="open_sub">
							<i class="fas fa-sort-down"></i>
						</div>
					</li>
					<li><a href="">Phòng thi</a></li>
					<li><a href="/user/login" class="login-button">Đăng nhập</a></li>
					<li><a href="/user/register" class="login-button">Đăng kí</a></li>
				</ul>
			</div>
		</div>

<script src="https://kit.fontawesome.com/d8162761f2.js"></script>
<script type="text/javascript" src="http://localhost:3000/js/bootstrap3.js"></script>
<script type="text/javascript" src="http://localhost:3000/js/owl.carousel.js"></script>
<script type="text/javascript" src="http://localhost:3000/js/window.js"></script>
