<header>
			<div class="I-header">
				<div class="wrapper">
					<div class="header-wrapper">
						<div class="header-logo">
							<img src="http://localhost:3000/img/bg-log.png">
							<div class="logo align-justify-center">
								<img src="https://lh3.googleusercontent.com/proxy/3lzTTaReeieoj2KrBMMIkErz6HJxEsAKlU5Xy_-8b4LwpLpOX4i_x6p7ss5uvcBH3PffQBes__vbnimo">
							</div>
						</div>
						<div class="header-search align-justify-center lp fp">
							<div class="search-wrapper">
								<input type="" name="" placeholder="Tìm kiếm khóa học">
								<a href="" class="align-justify-center"><i class="fas fa-search"></i></a>
							</div>
						</div>
						<div class="header-action align-justify-center">
							<a href="" class="notification">
								<i class="far fa-bell"></i>
								<div class="noti-count">
									4
								</div>
							</a>
							<a href="" class="avatar">
								<img src="http://localhost:3000/img/bg-log.png">
							</a>
							<div class="customer-menu lp">
								<i class="fas fa-caret-down"></i>
								<div class="menu-wrapper">
									<a href="/user/my-class"><i class="fas fa-book"></i>Lớp học của tôi</a>
									<a href="/user/user-profile"><i class="fas fa-user"></i>Thông tin cá nhân</a>
									<a href="/user/onprocessing-class"><i class="fas fa-book"></i>Yêu cầu đang xử lý</a>
									<a href="/user/change-password"><i class="fas fa-key"></i>Đổi mật khẩu</a>
									<a href="/user/logout"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a>
								</div>
							</div>
							<div href="" class="btns sp open-menu"><i class="fas fa-bars"></i></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="I-customer">
				<div class="wrapper">
					<div class="customer-wrapper">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="customer-nav">
									<a href="" class="is-active">Thông tin cá nhân</a>
									<a href="">Khóa học của tôi</a>
									<a href="">Thông báo</a>
									<a href="">Đổi mật khẩu</a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
								<div class="customer-main">
									<h3 class="m-b-20">Thông tin của : Customer name</h3>
									<form class="infomation-group">
										<p class="m-b-20">Cập nhật thông tin</p>
										<div class="form-group">
										  	<label for="usr">Họ và tên:</label>
										  	<input type="text" class="form-control" id="usr" placeholder="Họ và tên">
										</div>
										<div class="form-group">
										  	<label for="email">Email:</label>
										  	<input type="email" class="form-control" id="email" placeholder="Email">
										</div> 
										<div class="form-group">
										  	<label for="address">Địa chỉ:</label>
										  	<input type="text" class="form-control" id="address" placeholder="Địa chỉ">
										</div> 
										<div class="form-group">
										  	<label for="address">Số điện thoại:</label>
										  	<input type="text" class="form-control" id="address" placeholder="Số điện thoại">
										</div> 
										<div class="form-group">
										  	<label for="address">Sở thích:</label>
										  	<input type="text" class="form-control" id="address" placeholder="Sở thích">
										</div> 
										<div class="form-group">
										  	<label for="address">Ngày tháng năm sinh / giới tính:</label>
										  	<div class="row">
										  		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
										  			<input type="number" class="form-control" id="address" placeholder="Ngày">
										  		</div>
										  		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
										  			<input type="number" class="form-control" id="address" placeholder="Tháng">
										  		</div>
										  		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
										  			<input type="number" class="form-control" id="address" placeholder="Năm">
										  		</div>
										  		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
										  			<select class="form-control">
										  				<option>Nam</option>
										  				<option>Nữ</option>
										  				<option>Khác</option>
										  			</select>
										  		</div>
										  	</div>
										</div> 
										<button type="button" class="btn btn-primary">Cập nhật</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
		    <div class="I-footer">
		        <div class="footer_contact">
		            <div class="wrapper">
		                <div class="row">
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <a href="" class="full_logo">
		                            <img src="images/2x3.png">
		                        </a>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Về chúng tôi</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span>Đâu đó ở Hà nội</span>
		                                <span><i class="fas fa-phone"></i> <a href="tel:0" class="telephone">(+84) 123456789</a></span>
		                                <span><i class="fas fa-envelope"></i> <a href="mailto:" class="time">abc@gmail.com</a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Danh mục</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span><a href="">Tiểu học</a></span>
		                                <span><a href="">Trung học cơ sở</a></span>
		                                <span><a href="">Trung học phổ thông</a></span>
		                                <span><a href="">Đại học</a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Theo dõi chúng tôi:</h5>
		                            </div>
		                            <div class="contact_content">
		                                <div class="social_wrapper">
		                                    <a class="social-item" href="<?php echo $info->fb ?>"><i class="fab fa-facebook-f"></i></a>
		                                    <a class="social-item" href="<?php echo $info->linkin ?>"><i class="fab fa-linkedin-in"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="copyright">
		            <div class="wrapper">
		                <div class="pull-left">
		                    Copyright © 2021. All rights reserved. 
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
		<div class="menu sp">
			<div class="menu-wrapper">
				<ul class="main_navigation">
					<li><a href="">Giới thiệu</a></li>
					<li><a href="">Giáo viên</a></li>
					<li><a href="">Danh mục</a></li>
					<li class="sub_navigation">
						<a href="">Thư viện</a>
						<div class="sub_nav_wrapper">
							<ul>
								<li><a href="">Sách A</a></li>
								<li><a href="">Sách B</a></li>
								<li><a href="">Sách C</a></li>
								<li><a href="">Sách D</a></li>
								<li><a href="">Sách R</a></li>
								<li><a href="">Sách T</a></li>
							</ul>
						</div>
						<div class="open_sub">
							<i class="fas fa-sort-down"></i>
						</div>
					</li>
					<li><a href="">Phòng thi</a></li>
					<li><a href="" class="login-button">Đăng nhập</a></li>
					<li><a href="" class="login-button">Đăng kí</a></li>
				</ul>
			</div>
		</div>
		<script src="https://kit.fontawesome.com/d8162761f2.js"></script>
		<script type="text/javascript" src="http://localhost:3000/js/bootstrap3.js"></script>
		<script type="text/javascript" src="http://localhost:3000/js/owl.carousel.js"></script>
		<script type="text/javascript" src="http://localhost:3000/js/window.js"></script>